.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 45px;
    margin: 0 30px;
    margin-top: 50px;
}

@media screen and (min-width: 900px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1250px) {
    .products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
.cart-container {
   background-color: rgba(255, 153, 0, 0.3);
}